@import url('https://fonts.googleapis.com/css2?family=Akronim&family=Inter:wght@400;700&family=Secular+One&display=swap');

/* Para alteração com variáveis global */
:root {
    --cor-fundo: #19032d;
    --cor-texto: #F0EEED;
    --cor-negrito: #C92C6D;
    --cor-hover: #0a0112;
    --cor-link: #22D4FD;

    --fonte-titulo: 'Akronim', cursive;
    --fonte-texto: 'Secular One', sans-serif;

    --size-titulo: 4.5rem;
    --size-texto: 1.5rem;
}

/* Corpo da Pagina */
body {
    /* height: 100vh; atalho para comentar ctrl+K+C */
    box-sizing: border-box;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
}

/* Cabeça Corpo da Pagina (Header/Nav) */
.cabeça {
    background-color: var(--cor-hover);
    padding: 2% 0% 0% 15%;
}

.cabeça__menu{
    display: flex;
    justify-content: center;
    gap: 80px;
}

.menu__link {
    font-family: var(--fonte-texto);
    font-size: var(--size-texto);
    font-weight: 600;
    color: var(--cor-link);
    text-decoration: none;
}

/* Tronco Corpo da Pagina (Main/Section/Div) */
.plano {
    padding: 8% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.plano__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.plano__titulo {
    font-size: var(--size-titulo);
    font-family: var(--fonte-titulo);
    text-align: center;
}

.titulo-destaque {
    color: var(--cor-negrito);
}

.plano__texto {
    font-size: var(--size-texto);
    font-family: var(--fonte-texto);
    text-align: center;
}

.plano__subtitulo {
    font-family: var(--fonte-texto);
    font-weight: 400;
    font-size: var(--size-texto);
}

.plano__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.link__botao {
    /*background-color: black; Linha comentada de exemplo*/
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-link);
    border-radius: 8px;
    width: 50%;
    text-align: center;
    font-size: 2.25rem;
    text-decoration: none;
    color: var(--cor-negrito);
    font-family: var(--fonte-titulo);
}

.link__botao:hover {
    background-color: var(--cor-hover);
}

.plano__foto {
    width: 50%;
    border-radius: 5%;
    border: 2px solid var(--cor-link);
}

/* Pés do Corpo da Pagina (Footer) */
.rodape {
    padding: 24px;
    color: var(--cor-link);
    background-color: var(--cor-hover);
    text-align: center;
    font-family: var(--fonte-texto);
    font-size: 1.25rem;
    font-weight: 400;
}

@media (max-width: 1200px) {
    .cabeça {
        padding: 10%;
    }
    
    .cabeça__menu{
        justify-content: center;
    }
    
    .plano {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .plano__conteudo {
        width: auto;
    }
}
